/* ========== Basic Setup ========== */
body{
    font-family: 'Dosis', sans-serif;
}
html{
    scroll-behavior: smooth;
}
.btn_hero{
    color: #000;
    background: #03fff3;
    padding: 8px 30px;
    border-radius: 5px;
    font-size: 20px;
    transition: .5s;
}
.btn_hero:hover{
    background: #fff;
    color: #03fff3;
    box-shadow: 0 2px 20px #03fff3;
}


/* ========== Header Section ========== */
.header_section{
    background: linear-gradient(45deg,rgba(45, 81, 122, 0.9),#0eadda);
    position: fixed;
    width: 100%;
    z-index: 999;
}
.logo a{
    text-decoration: none;
}
.logo a span{
    font-size: 30px;
    font-weight: 600;
    color: #03fff3;
}
.header_menu{

}
.header_menu ul{
    margin: 0;
}
.header_menu ul li{
    display: inline-block;
}
.header_menu ul li a {
    display: inline-block;
	color: #fff;
	font-size: 18px;
	padding: 15px;
	text-decoration: none;
    transition: .5s;
}

.header_menu ul li:hover > a{
    background-color: #2e7fa7;
}
.header_menu ul li{
    position: relative;
}

/* DROPDONW MENU */
.header_menu ul li{
    position: relative;
}
.header_menu ul li ul{
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0;
    width: 200px;
    background-color: #10aad6;
    transition: .5s;
    transform: scaleY(0);
    z-index: 1;
    visibility: hidden;
    transform-origin: top;
}
.header_menu ul li ul li{
    display: block;
    border-top: 1px solid #fff;
}
.header_menu ul li ul a{
    display: block;
    text-align: center;
}
.header_menu ul li:hover ul{
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
}


.header_btn{
    margin-top: 5px;
    text-align: right;
}
.header_btn a{
    text-decoration: none;
    display: inline-block;
    color: #000;
}

/* ========== Banner Section ========== */
.benner_section{
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(3, 255, 243,0.9)),url(https://www.demodia.com/hubfs/banner-man-smartphone.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 0;
    position: relative;
}
.benner_section h2{
    color: #fff;
    font-size: 40px;
    margin-bottom: 30px;
}
.benner_section p{
    color: #fff;
    font-size: 16px;
    font-style: italic;
    line-height: 30px;
}
.banner_btn{
    margin-top: 40px;
}
.banner_btn a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px 20px;
    border-radius: 7px;
    margin: 0 10px;
    font-size: 18PX;
    transform: translateX(0);
    transition: .5s;
    font-weight: 600;
}
.banner_btn a:hover{
    background: #000;
    border: 1px solid #03fff3;
    box-shadow: 0 5px 20px #fff;
    transform: translateY(-5px);
}
.banner_img{
    position: absolute;
    top: 20%;
    left: 10%;
}
/* ========== About Section ========== */
.about_section{
    background: #fff;
    padding: 100px 0;
}
.about_section h2{
    margin: auto;
    font-size: 40px;
    margin-bottom: 30px;
}
.about_section img{
    width: 100%;
    border-radius: 7px;
}
.about_img{
    margin: auto;
    width: 500px;
    position: relative;
}
.overly{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(3, 255, 243,0.8));
    opacity: 0;
    border-radius: 7px;
    transition: 1s;
}
.about_img:hover .overly{
    opacity: 1;
}

/* ========== Service Section ========== */
.service_section{
    background: #f6f8fc;
    padding: 60px 0 100px 0;
}
.service_section::after{
    content: "";
    clear: both;
    display: block;
}
.service_section h1{
    text-align: center;
    margin-bottom: 30px;
    color: #1f94be;
}
.service_box{
    text-align: center;
    width: 23%;
    height: 510px;
    float: left;
    box-sizing: border-box;
    padding: 40px 20px;
    border: 1px solid #ddd;
    margin-left: 1%;
    margin-right: 1%;
    background: #fff;
    position: relative;
}
.service_box img{
    max-width: 100%;
    transform: translateY(0);
    transition: 1s;
}
.service_box:hover img{
    transform: translateY(160px);
}
.service_box span{
    height: 100px;
    width: 100px;
    background: #f6f8fc;
    font-size: 50px;
    line-height: 100px;
    border-radius: 50%;
    color: #03fff3;
    display: inline-block;
    margin-bottom: 30px;
    transform: rotate(0);
    transition: 1s;
}
.service_box span:hover{
    transform: rotate(360deg);
    color: #01aad6;
}

.service_desc{
    transform: translateY(0);
    color: #000;
    transition: 1s;
}
.service_box:hover .service_desc{
    transform: translateY(-130px);
    color: #01aad6;
}

/* ========== Footer Section ========== */
.btn_contact{
    width: 100px;
}

/* ========== Footer Section ========== */
.footer_section p{
    margin-left: 35%;
}